#top-of-page {
    text-align: center;
}

#friend-intro-thing {
    color: black;
}

#ending-text {
    text-align: center;
}

body {
    background-color: pink;
}

h1{
    color: purple;
}

h3 {
    color: green
}

li {
    color: blue
}

